<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main>
  <div class="main">
    <h1 class="title">Angular.js Integration Example</h1>
    <div class="layout">
      <div class="button-group">
        <h3>Load Survey</h3>
        <button (click)="changeSurvey('survey1')">Remote JSON 1</button>
        <button (click)="changeSurvey('survey2')">Remote JSON 2</button>
        <button (click)="changeSurvey('local')">Local JSON attr</button>
        <button (click)="setSurveyJson()">Local JSON prop</button>
        <h3>API interactions</h3>
        <button (click)="resetSurvey()">Reset</button>
        <button (click)="goPrev()"> &#8592; Prev</button>
        <button (click)="goNext()"> &#8594; Next</button>
      </div>
      <div class="survey-container">
        <survey-compo #my_survey cache="memory" [src]="surveySource" (surveychange)="handleChange($event)"
          cache="memory" />
      </div>
    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />